{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users</h1>

    <table>
        <tbody>
            <tr>
                <th>Userid</th>
                <td>{{ user.userid }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Password_confirm</th>
                <td>{{ user.passwordconfirm }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('_edit', { 'id': user.userid }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
