{% extends 'base_for_auth.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Userid</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Password</th>
                <th>Password_confirm</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('_authshow', { 'id': user.userid }) }}">{{ user.userid }}</a></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.passwordconfirm }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_authshow', { 'id': user.userid }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('_authedit', { 'id': user.userid }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('auth_auth_CreateUser') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
